#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Fontspring";
  src: url("./fonts/Fontspring-DEMO-allroundgothic-thick.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CASaygonText";
  src: url("./fonts/CASaygonText-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans-Medium";
  src: url("./fonts/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans-Regular";
  src: url("./fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}